<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="/css/bootstrap.min.css">
    <title>Registration</title>
</head>
<body>
<div class="container">
    <h1 class="text-center font-weight-bold">User registration</h1>
    <div class="row justify-content-center">
        <form id="registration" th:action="@{/registration}" th:object="${userForm}" method="post">
            <div>
                <label for="user-name-label">Username: </label>
                <input id="user-name-label" type="text" th:field="*{username}"/>
                <p th:each="error: ${#fields.errors('username')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div>
                <label for="user-password-label">Password: </label>
                <input id="user-password-label" type="text" th:field="*{password}"/>
                <p th:each="error: ${#fields.errors('password')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div>
                <label for="user-confirm-password-label">Confirm password: </label>
                <input id="user-confirm-password-label" type="text" th:field="*{passwordConfirm}"/>
                <p th:each="error: ${#fields.errors('passwordConfirm')}"
                   th:text="${error}">Validation error</p>
            </div>
            <input type="submit" class="btn btn-dark btn-sm">
            <input type="reset" class="btn btn-dark btn-sm">
        </form>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>